寫入城市

In [20]:
import sqlite3
from datetime import datetime

In [18]:
citys = [(1, '基隆市'),
 (2, '台北市'),
 (3, '新北市'),
 (4, '桃園縣'),
 (5, '新竹市'),
 (6, '新竹縣'),
 (7, '苗栗縣'),
 (8, '台中市'),
 (9, '彰化縣'),
 (10, '南投縣'),
 (11, '雲林縣'),
 (12, '嘉義市'),
 (13, '嘉義縣'),
 (14, '台南市'),
 (15, '高雄市'),
 (16, '屏東縣'),
 (17, '台東縣'),
 (18, '花蓮縣'),
 (19, '宜蘭縣'),
 (20, '澎湖縣'),
 (21, '金門縣'),
 (22, '連江縣')]

In [7]:
respondents = ['公司行號', '工作室', '學生身分', '上班族兼職']

In [33]:
states = ['新進案','發案中','製作中','已結案']

In [40]:
amounts = ['3000','5000','10000~30000','50000','10萬','30萬','50萬~100萬','100萬以上','面議']

In [42]:
modes = ['到場配合','遠端合作','面談']

In [44]:
periods = ['三天內','一個禮拜','二~四個禮拜','一個月內','三個月','半年','一以上','面議']

In [46]:
categorys = ['程式開發',
 '平面設計',
 '網頁設計',
 '翻譯寫作',
 '商攝娛樂',
 '影像製作',
 '空間設計',
 '生活服務',
 '活動企劃',
 '專業顧問',
 '資訊工程']

In [34]:

conn = sqlite3.connect('../db.sqlite3')
cursor = conn.cursor()

In [35]:
today = datetime.today().strftime('%Y-%m-%d')
today

'2022-02-08'

In [ ]:
try:
    for city in citys :
        #print(city)
        sqlstr = f'insert into user_city (id,name,createdom) values ({city[0]},"{city[1]}","{today}")'
        cursor.execute(sqlstr)        
    conn.commit()
    print("done!")
except:
    pass

In [29]:
try:
    for respondent in respondents :
        #print(city)
        sqlstr = f'insert into user_respondent (name,createdom) values ("{respondent}","{today}")'
        cursor.execute(sqlstr)        
    conn.commit()
    print("done!")
except:
    pass

In [37]:
try:
    for state in states :
        #print(city)
        sqlstr = f'insert into case_state (name,createdom) values ("{state}","{today}")'
        cursor.execute(sqlstr)        
    conn.commit()
    print("done!")
except:
    pass

done!

In [41]:
try:
    for amount in amounts :
        #print(city)
        sqlstr = f'insert into case_amount (name,createdom) values ("{amount}","{today}")'
        cursor.execute(sqlstr)        
    conn.commit()
    print("done!")
except:
    pass

done!

In [43]:
try:
    for mode in modes :
        #print(city)
        sqlstr = f'insert into case_mode (name,createdom) values ("{mode}","{today}")'
        cursor.execute(sqlstr)        
    conn.commit()
    print("done!")
except:
    pass

done!

In [45]:
try:
    for period in periods :
        #print(city)
        sqlstr = f'insert into case_period (name,createdom) values ("{period}","{today}")'
        cursor.execute(sqlstr)        
    conn.commit()
    print("done!")
except:
    pass

done!

In [47]:
try:
    for category in categorys :
        #print(city)
        sqlstr = f'insert into case_category (name,createdom) values ("{category}","{today}")'
        cursor.execute(sqlstr)        
    conn.commit()
    print("done!")
except:
    pass

done!

In [25]:
conn.close()